<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ website_title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="{{website_baseurl}}/podcast.xml">Subscribe Podcast</a></li>
          <li><a href="{{website_baseurl}}/feed.xml">Subscribe Blog</a></li>
          <li><a href="mailto:{{ website_email }}">{{ website_email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if mastodon_link %}
          <li>
            {% include "_includes/icon-mastodon.html" %}
          </li>
          {% endif %}
          
          {% if gitlab_username %}
          <li>
            {% include "_includes/icon-gitlab.html" %}
          </li>
          {% endif %}

          {% if github_username %}
          <li>
            {% include "_includes/icon-github.html" %}
          </li>
          {% endif %}

          {% if twitter_username %}
          <li>
            {% include "_includes/icon-twitter.html" %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ website_description }}</p>
      </div>
    </div>

  </div>

</footer>
