<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if title %}{{ title | escape }}{% else %}{{ website_title | escape }}{% endif %}</title>
  <meta name="description" content="{{ website_description }}">

  <link rel="stylesheet" href="{{ website_baseurl }}/main.css">
  <link rel="canonical" href="{{ website_baseurl }}/">
  <link rel="alternate" type="application/rss+xml" title="{{ website_title }}" href="{{ website_baseurl }}/feed.xml">
</head>
