<!DOCTYPE html>
<html>

  {% include "_includes/head.html" %}

  <body>

    {% include "_includes/header.html" %}

    <div class="page-content">
      <div class="wrapper">
        {% block wrapperContent %}
        {% endblock %}
      </div>
    </div>

    {% include "_includes/footer.html" %}

  </body>

</html>
