{% extends "_layouts/default.html" %}

{% block wrapperContent %}
<article class="post">
  <script src="https://cdn.podlove.org/web-player/5.x/embed.js"></script>

  <header class="post-header">
    <h1 class="post-title">Episode {{ number }}: {{ title }}</h1>
  </header>

  <div class="post-content">

    <p>{{ subtitle }}</p>

    <div id="player"></div>
    <script>
      podlovePlayer("#player", "{{website_baseurl}}/episodes/{{ podlove }}", "{{website_baseurl}}/podlove.json");
    </script>

{% block content %}
{% endblock %}

{% if youtube %}
    <p> &emsp;</p>
    <p> &emsp;</p>
    <p>View this episode on <a href="https://www.youtube.com/watch?v={{youtube}}" target="_blank">YouTube</a></p>
    <p> &emsp;</p>

{% endif %}

  </div>

</article>
{% endblock %}
