{% extends "_layouts/default.html" %}

{% block wrapperContent %}
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ title }}</h1>
  </header>

  <div class="post-content">
    {% block content %}
    {% endblock %}
  </div>

</article>
{% endblock %}
