{% extends "_layouts/default.html" %}

{% block wrapperContent %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ title }}</h1>
    <p class="post-meta"><time datetime="{{ date }}" itemprop="datePublished">{{ date | format_date("%b %-d, %Y") }}</time>{% if author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {% block content %}
    {% endblock %}
  </div>

</article>
{% endblock %}
