{% extends "_layouts/default.html" %}

{% block wrapperContent %}
<header class="post-header">
  <h1 class="post-title">Template for Podcast Hosting</h1>
  This template uses the <a href="https://pac4.gitlab.io/rattlesnake/">Rattlesnake</a> static site generator.
  Originally it was based on the <a href="https://gitlab.com/pages/jekyll">Gitlab Pages Template for Jekyll</a>.
</header>

<div class="home">
  <h1 class="page-heading">Podcast Episodes</h1>
  <center>
    {% set episodes = _pages|selectattr("podcast")|sort(attribute="date", reverse=True) %}
    {% for episode in episodes %}
    <a class="post-link episode-box" href="{{ website_baseurl }}{{ episode._target_path }}">
      <img src="{{ episode.cover }}" class="cover" />
      <br/>
      <span class="post-meta">{{ episode.date | format_date("%b %-d, %Y") }} - Episode {{ episode.number }}</span>
      <br/>
      {{ episode.title }}
    </a>
    {% endfor %}
  </center>

  <p class="rss-subscribe">subscribe to Podcast <a href="{{ website_baseurl }}/podcast.xml">via RSS</a></p>


  <h1 class="page-heading">Blog Posts</h1>

  <ul class="post-list">
    {% set posts = _pages|selectattr("blog")|sort(attribute="date", reverse=True) %}
    {% for post in posts %}
      <li>
        <span class="post-meta">{{ post.date | format_date("%b %-d, %Y") }}</span>

        <h2>
          <a class="post-link" href="{{website_baseurl}}{{ post._target_path }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe to Blog <a href="{{ website_baseurl }}/feed.xml">via RSS</a></p>

</div>
{% endblock %}
